[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-shortcode-roneo-collection"]
	path = themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git
