<!-- <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} /> -->

{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

<figure>
  
    <img
      sizes="100vw"
      src="{{ .Destination | safeURL }}"
      alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
      loading="lazy"
      >
  
  {{ with $caption }}
    <figcaption style="margin-top: -10px; font-size: 80%;">{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>