.terms-tags {
    text-align: center;
}



.terms-tags a {
    border-radius: 30px;
    background: none;
    transition: transform 0.5s;
}

.terms-tags a:hover {
    background: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.dark .terms-tags a {
    background: none;
}

.dark .terms-tags a:hover {
    background: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.terms-tags li {
    margin: 5px;
}