@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');



:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(15, 15, 15);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --hljs-bg: rgb(28, 29, 33);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);

}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.dark {
  --theme: rgb(12, 12, 12);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --hljs-bg: rgb(46, 46, 51);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}

div.buttons {
  max-width: 600px;
}

/* COMMENT ALL THIS TO RESTORE THE ORIGINAL NAVBAR */
.nav {
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border);
  background: rgba(0, 0, 0, 0.0.25);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
}

.sticky {
  position: fixed;
  left: 45px;
  min-width: calc(var(--nav-width) + var(--gap) * 2);
}



/* COMMENT ALL THIS TO RESTORE THE ORIGINAL NAVBAR */

div.profile_inner>h1 {
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #003994, #60a5fa);

}

/* SHORTCODE IMAGE STYLING*/

.right {
  float: right;
  max-width: 40%;
  margin-left: 5px
}

.left {
  float: left;
  max-width: 40%;
  margin-right: 20px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

figure.left>img,
figure.right>img,
figure.center>img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* SHORTCODE IMAGE STYLING END*/


#top-link {
  margin-bottom: 40px;
}


#scroll-progress {
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 0%;
  height: 5px;
  background: #7983ff;
  z-index: 10000;
}


/* FOOTER SOCIAL ICONS CUSTOM CSS ON HOVER */
div.share-buttons>:nth-child(1):hover {
  color: rgb(0, 123, 255);
}

div.share-buttons>:nth-child(2):hover {
  color: rgb(0, 46, 184);
}

div.share-buttons>:nth-child(3):hover {
  color: rgb(255, 0, 0);
}

div.share-buttons>:nth-child(4):hover {
  color: rgb(0, 46, 184);
}

div.share-buttons>:nth-child(5):hover {
  color: rgb(0, 196, 78);
}

div.share-buttons>:nth-child(6):hover {
  color: rgb(0, 123, 255);
}

main.post-main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: 90%;
  /* Adjust width for tablets */
  margin: auto;
  grid-column-gap: 2%;
  display: grid;
  grid-template-columns: 6fr 6fr 6fr;
  padding: var(--gap);
}


nav.pagination {
  float: left;
  left: 0;
  right: 0;
  position: absolute;
}

nav.pagination>a.next {
  margin-right: 27%;
  margin-left: auto;

  width: max-content;
}

nav.pagination>a.prev {
  margin-right: auto;
  margin-left: 27%;

}

@media (max-width: 991px) {
  main.post-main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust the minimum width as needed */
    max-width: 90%;
    /* Adjust width for tablets */
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  main.post-main {
    grid-template-columns: 1fr;
    max-width: 95%;
    padding: 2% 5%;
  }

  nav.pagination {
    position: relative;
    float: none;
    text-align: center;
    margin: 20px 0;
  }

  nav.pagination>a.next {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  nav.pagination>a.prev {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  /* COMMENT ALL THIS TO RESTORE THE ORIGINAL NAVBAR */

  .nav {
    width: 100%;
    left: 0;
  }

  .sticky {
    left: 0;
    min-width: 100%;
  }
/* COMMENT ALL THIS TO RESTORE THE ORIGINAL NAVBAR */

}